@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faustina&display=swap');

:root{
  -primary:#A9FFFF;
  -primary-light:#d2ffff;
  -primary-dark:#71afaf;
  -secondary:#3c3e3e;
  -secondary-light:#969797;
  -secondary-dark:#191a1a;
  -accent: #DB592A;
  -white:#f9fbfb
}